@import url(http://fonts.googleapis.com/css?family=Open+Sans|Montserrat);

textarea {
    color: #000;
    }


*{
    font-family: 'Open Sans', sans-serif !important;    
    color: #fff;
}

body {
    background-image: url('background.jpg');

}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: auto;  
    text-align: right;
}

#tblList thead{
    background: gray;
    color: #FFF;
}